#add {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
}

#popup {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    border-radius: 0.5rem;
}

#class_members {
    height: 576px;
    width: 426px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    background: #ffffff;
}

/* title */

.cm_title {
    height: 8%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: -webkit-linear-gradient(left, #1cc6fd, #16a4fa);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #1cc6fd, #16a4fa);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #1cc6fd, #16a4fa);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(right, #1cc6fd, #16a4fa);
    /* 标准的语法 */
    border-radius: 0.5rem 0.5rem 0 0;
}

.cm_title>div {
    width: 2.2rem;
}

.cm_title>p {
    color: #eff1f1;
}

/* body */

.cm_body {
    margin-left: 1.25rem;
    margin-top: 1.375rem;
    height: 29rem;
    display: flex;
    flex-direction: row;
}

.search_members {
    display: flex;
    flex-direction: column;
}

#search {
    height: 2.25rem;
    width: 9rem;
    border: 1px solid #d0d0d0;
}

.members {
    height: 24.25rem;
    width: 9rem;
    margin: 0;
    border: 1px solid #d0d0d0;
    border-top: 0;
}

.members li {
    height: 1.625rem;
    width: 7.0625rem;
    padding: .5rem 0 0 .3125rem;
    color: #4d5b67;
}

.members_click {
    background: rgb(201, 228, 248);
}

.members_select {
    background: rgb(241, 245, 249);
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 1.125rem;
    margin-right: 1.25rem;
}

#bt_add {
    height: 2.125rem;
    width: 3.75rem;
    background: linear-gradient(#1cc6fd, #16a4fa);
    color: #ffffff;
    border: #1293f9 solid 1px;
    font-size: 1rem;
}

#bt_delete {
    height: 2.125rem;
    width: 3.75rem;
    margin-top: 2.375rem;
    background: linear-gradient(#b9c1d1, #909db6);
    color: #ffffff;
    border: #aab5c7 solid 1px;
    font-size: 1rem;
}

.selected_members {
    height: 26.375rem;
    width: 9rem;
    border: 1px solid #d0d0d0;
}

.selected_members li {
    height: 1.625rem;
    width: 7.0625rem;
    padding: .5rem 0 0 .3125rem;
    color: #4d5b67;
}

/* footer */

.cm_footer {
    height: 4.1875rem;
    background: #f0f5f9;
    border-radius: 0 0 0.5rem 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.cm_footer>#ok {
    height: 2.125rem;
    width: 5.25rem;
    margin-right: 3.875rem;
    background: -webkit-linear-gradient(left, #1cc6fd, #16a4fa);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #1cc6fd, #16a4fa);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #1cc6fd, #16a4fa);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(right, #1cc6fd, #16a4fa);
    /* 标准的语法 */
    color: #ffffff;
    border: #1293f9 solid 1px;
    font-size: 1rem;
}

.cm_footer>p {
    display: flex;
    color: #b2b2b2;
}