 #new {
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     overflow: hidden;
     position: absolute;
     visibility: hidden;
 }

 #popupcontent {
     position: absolute;
     visibility: hidden;
     overflow: hidden;
     border-radius: 0.5rem;
 }

 .new_work {
     height: 580px;
     width: 752px;
     display: flex;
     display: -webkit-flex;
     flex-direction: column;
     background: #ffffff;
 }

 /* title */

 .nw_title {
     height: 8%;
     width: 100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
     background: -webkit-linear-gradient(left, #1cc6fd, #16a4fa);
     /* Safari 5.1 - 6.0 */
     background: -o-linear-gradient(right, #1cc6fd, #16a4fa);
     /* Opera 11.1 - 12.0 */
     background: -moz-linear-gradient(right, #1cc6fd, #16a4fa);
     /* Firefox 3.6 - 15 */
     background: linear-gradient(right, #16a4fa, #1cc6fd);
     border-radius: 0.5rem 0.5rem 0 0;
     cursor: move;
 }

.nw_title>div {
    width: 1.25rem;
}

 .nw_title>p {
     color: #eff1f1;
 }

 .nw_title>img {
     width: 1.25rem;
     height: 1.25rem;
 }

 /* body */

 .nw_body {
     height: 75%;
     display: flex;
     flex-direction: column;
 }

 .nw_body>p:nth-child(1) {
     padding-left: 2.625rem;
 }

 .nw_body>p {
     padding-top: 1.5rem;
     padding-left: 4.625rem;
     display: flex;
     align-items: center;

 }

 .nw_body>p>label {
     color: #4d5b67;
     margin-right: .75rem;
 }

 .nw_body>p>input {
     border: #d0d0d0 solid 1px;
     width: 18.625rem;
     height: 2.125rem;
     font-size: 18px;
 }

 .nw_body>p>#author {
     height: 5.25rem;
     width: 24.875rem;
     border: #d0d0d0 solid 1px;
     font-size: 18px;
 }

 .nw_body>p>#intro {
     height: 9.25rem;
     width: 34.125rem;
     border: #d0d0d0 solid 1px;
     font-size: 18px;
 }

 .nw_body>p>#add {
     width: 1.875rem;
     height: 1.875rem;
 }

 .nw_body img {
     margin-left: 1rem; 
     align-self: flex-end;
 }

 /* footer */

 .nw_footer {
     height: 17%;
     background: #f0f5f9;
     border-radius: 0 0 0.5rem 0.5rem;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }

 .nw_footer>#submit {
     margin-top: 1.1875rem;
     height: 2.125rem;
     width: 7.625rem;
     background: linear-gradient(#1cc6fd, #16a4fa);
     color: #ffffff;
     border: #1293f9 solid 1px;
     font-size: 1rem;
 }

 .nw_footer>p {
     display: flex;
     color: #b2b2b2;
 }