* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html {
    height: 100%;
    width: 100%;
    background: #3d485d;
}

/* top */

#top {
    height: 64px;
}

/* top_left */

.top_left {
    height: 64px;
    width: 265px;
    background: -webkit-linear-gradient(left,#1cc6fd,#16a4fa);/* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,#1cc6fd,#16a4fa); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#1cc6fd,#16a4fa); /* Firefox 3.6 - 15 */
    background: linear-gradient(right,#1cc6fd,#16a4fa); /* 标准的语法 */
    float: left;
}

.top_left>img {
    padding-top: 20px;
    padding-left: 60px;
    padding-right: 8px;
    float: left;
}

.top_left>p {
    padding-top: 22px;
    font-family: 'Microsoft YaHei regual Bold'; 
    color: #ffffff;
}

/* top_right */

.top_right {
    height: 63px;
    background: #ffffff;
    border-bottom: 1px #e2e2e2 solid;
}

.message {
    width: 60%;
    padding-top: 20px;
    font-size: 14px;
    font-family: 'Microsoft YaHei regual';
    color: #a0a0a0;
    float: left;
}

.name {
    
    width: 180px;
    box-sizing: border-box;
    border-right: 1px #eff1f1 solid;
    float: left;
}

.name>img {
    padding-left: 52px;
    padding-right: 4px;
    float: left; 
}

.name>p {
    padding-right: 16px; 
}

.identity>img {
    padding-left: 16px;
    padding-right: 4px;
    float: left;  
}

.identity>p {
    float: left;
}

.choose {
    height: 34px;
    width: 102px;
    padding: 16px 54px 0 0;
    float: right;
}

/* nav */

#nav {
    height: 49px;
}

/* nav_left */

.nav_left {
    width: 265px;
    height: 49px;
    background: #354052;
    font-family: 'Microsoft YaHei regual';
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    float: left;
}

.nav_left>p {
   line-height: 49px;
}

/* nav_right */

.nav_right {
    height: 49px;
    background: #ffffff;
    border-bottom: 1px #e2e2e2 solid;
}

/* works */

.works {
    width: 60%;
    font-size: 18px; 
}

.my_works {
    text-align: center;
    float: left;
}

.my_works>p {
    padding-left: 54px;
    padding-right: 54px;
    line-height: 47px;
    font-family: 'Microsoft YaHei regual';
    color: #16a4fa;
    border-right: 1px #eff1f1 solid;
}

.my_works>div {
    margin-left: 36px;
    height: 2px;
    width: 108px;
    box-sizing: border-box; 
    border-bottom: 2px #16a4fa solid ;
}

.class_works {
    text-align: center;
    float: left;
}

.class_works>p {
    padding-left: 54px;
    line-height: 49px;
    font-family: 'Microsoft YaHei regual';
    color: #4b5d67;
}

/* button */

.button {
    padding-top: 8px;
}

.submit>img {
    height: 34px;
    padding-left: 46px;
    padding-right: 20px;
    position: relative;
    float: right;
}

.new>img {
    margin-right: 54px;
    height: 34px;
    position: relative; 
    float: right;
} 

/* main */

#main {
    height: 967px;
}
/* main_left */

.main_left {
    height: 100%;
    width: 265px;
    background: #3d485d;
    float: left;
    /* position: absolute; */
}

.lesson li {
    height: 58px;
}

.lesson img {
    padding: 22px 12px 0 28px;
    float: left;
}

.lesson p {
    line-height: 58px;
    font-size: 16px;
    font-family: 'Microsoft YaHei regual';
    color: #a4afc3
}

.blue_rope {
    width: 4px;
    height: 58px; 
    background: -webkit-linear-gradient(#1cc6fd,#16a4fa); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(#1cc6fd,#16a4fa); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(#1cc6fd,#16a4fa); /* Firefox 3.6 - 15 */
    background: linear-gradient(#1cc6fd,#16a4fa); /* 标准的语法 */
    float: left;
}

/* chose */

.lesson_one {
    background: #4f5f79; 
}

.lesson_one>img {
    padding-left: 24px;
} 

.lesson_one>p {
    font-family: 'Microsoft YaHei regual Bold'; 
    color: #eff1f1;
}

/* float */

.lesson_three {
    background: -webkit-linear-gradient(left,#1cc6fd,#16a4fa);/* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right,#1cc6fd,#16a4fa); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right,#1cc6fd,#16a4fa); /* Firefox 3.6 - 15 */
    background: linear-gradient(right,#1cc6fd,#16a4fa); /* 标准的语法 */
}

.lesson_three>p {
    font-family: 'Microsoft YaHei regual Bold'; 
    color: #eff1f1;
}

/* main_right */

.main_right {
    height: 100%;
    background: #edf2f6;
}

.search_input>img {
    padding: 22px 126px 10px 24px;
    float: right;
}

.search_input {
    height: 66px;
    width: 100%;
} 

.search {
    height: 36px;
    width: 310px;
    margin-top: 22px;
    box-sizing: border-box;
    float: right;
}

.main_right li {
    float: left;
}

.photo img {
    height: 270px;
    width: 358px;
    padding: 24px 0 14px 44px;
}

.photo p {
    text-align: center;
}